@(user: Option[models.User])

@import layouts._

@main(title = "Home", user = user, nav = "home") {

<div id="myCarousel" class="carousel slide">  
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<img src="@routes.Assets.at("images/1.jpg")" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Just working...</h1>
            <p class="lead">bla-bla-bla.</p>
            <a class="btn btn-large btn-primary" href="/login">Sign up today</a>
          </div>
        </div>
    </div>
    
    <div class="item">
    	<img src="@routes.Assets.at("images/2.jpg")" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Just working...</h1>
            <p class="lead">bla-bla-bla.</p>
            <a class="btn btn-large btn-primary" href="/login">Sign up today</a>
          </div>
        </div>
    </div>
    
    <div class="item">
    	<img src="@routes.Assets.at("images/3.jpg")" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Just working...</h1>
            <p class="lead">bla-bla-bla.</p>
            <a class="btn btn-large btn-primary" href="/login">Sign up today</a>
          </div>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

}