@(form: Form[(models.User,Boolean)])(implicit flash: Flash)

@import layouts._

@main(title = "Login", user = None, nav = "login"){ 
    
	<div class="container">
        
		@helper.form(routes.Auth.authenticate, 'class -> "form-signin") {
            
    		<h3 class="form-signin-heading" align="center">Sign in</h3>
            
            @form.globalError.map { error =>
                <p class="error" align="center">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success" align="center">
                    @message
                </p>
            }

            <input type="text" class="input-block-level" name="user.name" placeholder="Login" id="usernameID" value="@form("user.name").value">

            <input type="password" class="input-block-level" name="user.password" id="passwordID" placeholder="Password">

           	<label for="checkboxID" class="checkbox">
           		<input type="checkbox" name="create" id="checkboxID" value="true"/> Create a new User
           	</label>
           		<input 	type="hidden"  value="false">					
            	
            <p align="center">
                <button type="submit" class="btn btn-large btn-primary" id="loginbutton">Login</button>
            </p>	
    	}     
    </div> 		
}