@(user: Option[models.User], net: String, token:String, lform: Form[(String,String,String)])
   
@import workspace._
      
@import models._
@import helper._


@main_workspace(user, nav = net) {

<div>
	<ul class="breadcrumb">
		<li><a href="#">Networks</a> <span class="divider">/</span></li>
		<li><a href="#">@net</a></li>
	</ul>
</div>

<div align="center">
		@helper.form(routes.Networks.externalCampaigns(net,token)) {
            
            @lform.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }            
                    
            <p>
                <span><input type="text" name="login" placeholder="login" id="LoginID" style="width: 10em;"></span>
                <span> @@yandex.ru</span>
            </p> 
            <p>
                <input type="hidden" name="token" placeholder="token" id="TokenID"
                value="@token">
            </p> 
            <p>
                <input type="hidden" name="network" placeholder="network" id="NetworkID"
                value="@net">
            </p>            
            	
            <p>
                <button class="btn btn-primary" type="submit">Next</button>
            </p>	
    	}
    	
    	<p> 
    		you need to input Your Yandex login again...       
   	 	</p>
</div>
<!-- keep alive the channel -->
<iframe id="comet" src="@routes.Application.keepAlive" style="display: none;"></iframe>			

}